<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112879024646-vj0iv3cioe4s8m4sg99ssklsff3bhkm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112879024646-vj0iv3cioe4s8m4sg99ssklsff3bhkm8</string>
	<key>API_KEY</key>
	<string>AIzaSyCXUHKROMMp0-zMZ46HNkaRDfZPZtb7BP4</string>
	<key>GCM_SENDER_ID</key>
	<string>112879024646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>triptotravel-71d2c</string>
	<key>STORAGE_BUCKET</key>
	<string>triptotravel-71d2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112879024646:ios:6e1f8e07b6ab10d2ba6187</string>
</dict>
</plist>